p {
    font-size: 1em;
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 2em;
	width: 10em;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;

	color: brown;
}